<div id="container1">
    <div id="navigation1">
        <ul>
            <li>
                <a ng-click = "logout()">
                    <div class="fast-tap back"></div>
                    <h4></h4>
                </a>
            </li>
            <li>
                <a href="#" style="width: 70%; height: 38px">
                    <div class="fast-tap storetitle"></div>
                    <h3>MyBoutique</h3>
                </a>
            </li>
            <li>
                <a href="buyer-profile.html">
                    <div class="fast-tap user"></div>   
                    <h4></h4>
                </a>
            </li>
        </ul>
    </div>
</div>

<br>
<div id="profile-container1">

    <ul>
        <li>
            <a href="buyer-profile2.html" style="width: 25%;">
                <div class="fast-tap"><img class="profile" src="img/background1circle290x290px.jpg">
                </div>
            </a>
        </li>
        <li>
            <div id="items-data"><span class="profile-digits">Items</span>
                <br>
                <h3>25</h3>
            </div>
        </li>
        <li>
            <div id="follower-data"><span class="profile-digits">Followers</span>
                <br>
                <h3>25</h3>
            </div>
        </li>
    </ul>
</div>

<div id="profile-container2">

    <a href="#" id="profile-button" class="fast-tap btn">&nbsp;Follow&nbsp;+&nbsp;</a>

</div>



<div id="profile-text">
    <h5>Silverlake’s original clothing boutique. Looking good from head to toe.</h5>
</div>




<div id="container2">
    <div id="navigation2">
        <ul>
            <li>
                <a href="buyer-profile1.html">
                    <div class="fast-tap gridstream"></div>
                </a>
            </li>
            <li>
                <a href="buyer-profile3.html">
                    <div class="fast-tap stream"></div>
                </a>
            </li>
            <li>
                <a href="location.html">
                    <div class="fast-tap location"></div>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="grid-container">

    <div ng-repeat="item in items" class="item-container">
        <div class="rowfree">
            <div class="heartoverimage3 heart-reveal hidden"></div>
        </div>
        <div class="stream-item-pic">

            <a href="buyer-item.html">
                <div id="item-large-pic"><img ng-src="{{item.image_url}}" />
                </div>
            </a>


            <p id="heart-position"><span class="heart-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">454 </b>
            </p>

            <p id="location-position"><span class="location-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">In-store </b>
            </p>

            <p id="price-position"><span class="buy-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">$458 </b>
            </p>

            <p id="message-position"><span class="message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="seller-name-text">MyBoutique </b>Vintage pair of 80's Cazals still in the original box.</p>

            <!--<div class="leavecomment" style=" margin: 10px 0 10px 10px; "><a href="#" style="color: #f37878; text-decoration: none !important;">Leave comment</a>
		</div> -->
            <br>

            <div class="seemorecontainer">
                <div class="fast-tap seemore" style=" margin: -28px 8px 4px -10px; text-align: right;"><span>See comments...</span>
                </div>

                <div class="seemorecontent">
                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">BeckyFoster </b>What sort of a discount will you do if we buy more than one?</p>

                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">NickyLaser </b>Cool</p>

                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">DanKeen </b>This looks like exactly what I have been looking for. Before I head over can I ask how many you have?</p>
                </div>

            </div>
        </div>

        <div id="icon-cirle-wapper" style="margin-bottom: 10px; padding: 1px;">
            <a href="#">
                <div id="heart2">
                    <div class="heart-circle" style=""></div>
                </div>
            </a>
            <a href="#">
                <div id="message2">
                    <div class="fast-tap buyer-message-circle" style=""></div>
                </div>
            </a>
            <a href="buyer-item.html?open=buySection">
                <div id="message2">
                    <div class="fast-tap buy-circle" style=""></div>
                </div>
            </a>
        </div>
    </div>
</div>



<h4 class="loadmore">load more...</h4>
