<div class="grid-container itemfeed">

    <div ng-repeat="item in items" class="item-container">
        <div class="rowfree">
            <div class="heartoverimage3 heart-reveal hidden"></div>
        </div>
        <div class="stream-item-pic">

            <a ui-sref="itemview({ id: item.id })">
                <div id="item-large-pic" ng-style="{'background-image': 'url(' + item.image_url + ')'}">
                    <!--<img ng-src="{{item.image_url}}" />-->
                </div>
            </a>


            <p id="heart-position"><span class="heart-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">454 </b>
            </p>

            <p id="location-position"><span class="location-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">In-store </b>
            </p>

            <p id="price-position"><span class="buy-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="price-text">{{item.price}}</b>
            </p>

            <p id="message-position"><span class="message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="seller-name-text">MyBoutique </b>{{item.description}}</p>

            <!--<div class="leavecomment" style=" margin: 10px 0 10px 10px; "><a href="#" style="color: #f37878; text-decoration: none !important;">Leave comment</a>
		</div> -->
            <br>

            <div class="seemorecontainer">
                <div class="fast-tap seemore" style=" margin: -28px 8px 4px -10px; text-align: right;"><span>See comments...</span>
                </div>

                <div class="seemorecontent">
                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">BeckyFoster </b>What sort of a discount will you do if we buy more than one?</p>

                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">NickyLaser </b>Cool</p>

                    <p id="message-position" style=" margin: 5px 8px 0px 0px; text-align: right;"><span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b class="buyer-name-text">DanKeen </b>This looks like exactly what I have been looking for. Before I head over can I ask how many you have?</p>
                </div>

            </div>
        </div>

        <div id="icon-cirle-wapper" style="margin-bottom: 10px; padding: 1px;">
            <div ng-if="!isSeller">
                <div class="action-icon"
                     ng-click="onClickTab({title: 'One', url: 'modules/item/views/view-tab-buyer-comment.html'})">
                    <div class="buyer-message-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-buyer-comment.html') ? 'active' : ''"></div>
                </div>
                <div class="action-icon" ng-click="onClickTab({title: 'Two', url: 'modules/item/views/view-tab-log.html'})">
                    <div class="buy-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-log.html') ? 'active' : ''"></div>
                </div>
                <div class="action-icon" ng-click="likeItem()">
                    <div class="heart-circle"></div>
                </div>
                <div class="action-icon" ng-click="onClickTab({title: 'Four', url: 'modules/item/views/view-tab-location.html'})">
                    <div class="location-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-location.html') ? 'active' : ''"></div>
                </div>
            </div>
            <div ng-if="isSeller">
                <div class="action-icon"
                     ng-click="onClickTab({title: 'One', url: 'modules/item/views/view-tab-comment.html'})">
                    <div class="message-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-comment.html') ? 'active' : ''"></div>
                </div>
                <div class="action-icon" ng-click="onClickTab({title: 'Two', url: 'modules/item/views/view-tab-log.html'})">
                    <div class="buy-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-log.html') ? 'active' : ''"></div>
                </div>
                <div class="action-icon" ng-click="onClickTab({title: 'Three', url: 'modules/item/views/view-tab-social.html'})">
                    <div class="promote-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-social.html') ? 'active' : ''"></div>
                </div>
                <div class="action-icon" ng-click="onClickTab({title: 'Four', url: 'modules/item/views/view-tab-edit.html'})">
                    <div class="edit-circle"
                         ng-class="isActiveTab('modules/item/views/view-tab-edit.html') ? 'active' : ''"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<h4 class="loadmore">load more...</h4>
