<div class="rowfree">
    <div class="reveal1 item-transaction-section unhidden">
        <table class="comment">
            <tr>
                <td class="icon-message">
                    <span class="seller-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <p>
                        <b class="seller-name-text">MyBoutique</b>
                        Vintage pair of 80's Cazals still in the original box.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="icon-message">
                    <span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <p>
                        <b class="buyer-name-text">DanKeen</b>
                        This looks like exactly what I have been looking for. Before I head over can I ask how many you
                        have?
                    </p>
                </td>
            </tr>
            <tr>
                <td class="icon-message">
                    <span class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td>
                    <p>
                        <b class="buyer-name-text">BeckyFoster</b>
                        What sort of a discount will you do if we buy more than one?
                    </p>
                </td>
            </tr>
        </table>
        <div class="leavecomment" style=" margin: 10px 0 10px 10px; "><a href="#"
                                                                         style="color: #f37878; text-decoration: none !important;">Leave
            comment</a>
        </div>

        <div class="seemorecontainer">
            <div class="seemore" style=" margin: -28px 8px 4px -10px; text-align: right;"><span>See more...</span>
            </div>

            <div class="seemorecontent">
                <p id="message-position" style=" margin: 5px 8px 0px -5px; text-align: left;"><span
                        class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b
                        class="buyer-name-text">BeckyFoster </b>What sort of a discount will you do if we buy more than
                    one?</p>

                <p id="message-position" style=" margin: 5px 8px 0px -5px; text-align: left;"><span
                        class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b
                        class="buyer-name-text">NickyLaser </b>Cool</p>

                <p id="message-position" style=" margin: 5px 8px 0px -5px; text-align: left;"><span
                        class="buyer-message-small" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b
                        class="buyer-name-text">DanKeen </b>This looks like exactly what I have been looking for. Before
                    I head over can I ask how many you have?</p>
            </div>
        </div>
    </div>
</div>