<div class="rowfree">
    <div class="reveal5 item-transaction-section">
        <div id="heart2">
            <div class="promote-circle" style="">
            </div>
        </div>

        <p style="margin: 0px 8px 12px 70px; text-align:left;"><b class="seller-name-text">MyBoutique </b>Vintage pair of 80's Cazals still in the original box.</p>
        <center>

            <div id="content-popup">

                <div style="inline: block; width: 100%; margin: 0px 0 0px 0;">

                    <div style=" margin: 22px 0 0px 0px; float: left;">
                        <p>Make this a hero item</p>
                    </div>

                    <div style="margin: 15px 0 26px 0px; float: right;">
                        <label class="fast-tap switch-light switch" onclick="">
                            <input type="checkbox">
                            <span>
				<span id="on">On</span>
                            <span>Off</span>
                            </span>
                            <a></a>
                        </label>
                    </div>
                </div>

                <div style="margin: 30px 0px 0px 0px;">
                    <textarea class="input store-special-qualities" style="width: 240px;" placeholder="Write social post"></textarea>
                </div>
                <div style="width: 100%; margin: 30px 0 0px 0;">
                    <div style=" margin: -10px 0 5px 0; float: left;">
                        <p>Post item to Facebook.</p>
                    </div>
                    <div style="margin: -16px 0 0px 0px; float: right;">
                        <label class="fast-tap switch-light switch" onclick="">
                            <input type="checkbox">
                            <span>
				<span id="On">On</span>
                            <span>Off</span>
                            </span>
                            <a></a>
                        </label>
                    </div>
                </div>

                <!-- <div style="width: 100%; margin: 30px 0 0px 0;" >
				<div style=" margin: 40px 0 5px 0; float: left;"><p>Post item to Twitter</p></div>
				<div style="margin: 10px 0 0px 0px; float: right;">
				<label class="fast-tap switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span>On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div>
		
			<div style="width: 100%; margin: 30px 0 0px 0;" >
				<div style=" margin: 40px 0 5px 0; float: left;"><p>Post item to Pinterest</p></div>
				<div style="margin: 10px 0 0px 0px; float: right;">
				<label class="fast-tap switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span>On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div>
			
			<div style="width: 100%; margin: 0 0 0 0;" >
				<div style=" float: left; margin: 50px 30px 32px 0px;"><p>Email Gmail contacts</p></div>
				<div style="margin: 18px 0 0px 0px; float: right;">
				<label class="fast-tap switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span>On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div>
		
			<div style="inline: block; width: 100%; margin: 10px 0 10px 0;" >
				<div style=" float: left; margin: 10px 30px 32px 0px;"><p>Text phone contacts</p></div>
				<div style="margin: -21px 0 0px 0px; float: right;">
				<label class="fast-tap switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span>On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div> -->

                <!--<div style="inline: block; width: 100%; margin: 0px 0 0px 0;" >
				<div style=" margin: 22px 0 0 0px; float: left;"><p>List item on eBay</p></div>
				<div style="margin: 10px 0 16px 0px; float: right;">
				<label class="fast-tap switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span id="on">On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div>
		
			<div style="width: 100%; margin: 6px 0 0px 0;" >
				<select class="selector1" style="margin: -2px 0 20px 0;">
				<option value="">eBay fashion catagory</option>
				<option value="accessories">Accessories</option>
   				<option value="bags">Bags</option>
   				<option value="casual">Casual</option>
   				<option value="coats">Coats</option>
   				<option value="dresses">Dresses</option>
   				<option value="hats">Hats</option>
   				<option value="pants">Trousers</option>
   				<option value="coach&co">Shoes</option>
   				<option value="commedesgarcon">Sports</option>
   				<option value="suits">Suits</option>
   				<option value="sunglasses">Sunglasses</option>
   				<option value="swimwear">Swimwear</option>
				</select>			
			</div>
		
		<!-- <div style="inline: block; width: 100%; margin: 0px 0 0px 0;" >
				<div style=" margin: 44px 0 0 0px; float: left;"><p>Etsy item posting</p></div>
				<div style="margin:14px 0 16px 0px; float: right;">
				<label class="switch-light switch" onclick="">
				<input type="checkbox">
				<span>
				<span>On</span>
				<span>Off</span>
				</span>
				<a></a>
				</label>
				</div>
			</div> -->
                <center>
                    <div style="margin:70px 0px 20px 0px;"><a href="#" class="fast-tap btn sml">&nbsp;Share item&nbsp;</a>
                    </div>
                    <p style="margin: 10px 0px 0px 0px;">Copy and paste your items url</p>
                    <div class="url-text" style=" margin: 10px 0 20px 0;">
                        <h4>mobbbi.com/mystorename</p></div>
		</div>
		</center>
	</div>
</div>
            