<div ng-controller="SiteHeader" id="container1-itemview">
    <div id="navigation1">
        <ul>
            <li>
                <a ui-sref="item">
                    <div class="fast-tap back"></div>
                    <h4></h4>
                </a>
            </li>
            <li>
                <a href="#" style="width: 70%; height: 38px">
                    <div class="fast-tap storetitle"></div>
                    <h3>MyBoutique</h3>
                </a>
            </li>
            <li>
                <a ui-sref="profile">
                    <div class="fast-tap user"></div>
                    <h4></h4>
                </a>
            </li>
        </ul>
    </div>
</div>