<div ng-controller="SiteHeader">
    <div id="container1">
        <div id="navigation1">
            <ul>
                <li>
                    <a ng-click="logout()">
                        <div class="fast-tap back"></div>
                        <h4></h4>
                    </a>
                </li>
                <li>
                    <a href="#" style="width: 70%; height: 38px">
                        <div class="fast-tap storetitle"></div>
                        <h3>MyBoutique</h3>
                    </a>
                </li>
                <li>
                    <a ui-sref="profile">
                        <div class="fast-tap user"></div>
                        <h4></h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <br>

    <div id="profile-container1">

        <ul>
            <li><a ui-sref="store" style="width: 25%;">
                <div class="fast-tap"><img class="profile" ng-src="{{avatarUrl}}"></div>
            </a></li>
            <li>
                <div id="items-data"><span class="profile-digits">Items</span><br>

                    <h3>25</h3></div>
            </li>
            <li>
                <div id="follower-data"><span class="profile-digits">Followers</span><br>

                    <h3>25</h3></div>
            </li>
        </ul>
    </div>

    <div id="profile-container2">

        <a ng-if="!isSeller" href="#" id="profile-button" class="fast-tap btn">&nbsp;Follow&nbsp;+&nbsp;</a>
        <a ng-if="isSeller" ui-sref="store" id="profile-button" class="fast-tap btn">&nbsp;Edit profile&nbsp;</a>

    </div>


    <div id="profile-text"><h5>Silverlake’s original clothing boutique. Looking good from head to toe.</h5></div>


    <div id="container2">
        <div id="navigation2">
            <ul>
                <li ng-if="isSeller"><a ng-click="clickToOpen()">
                    <div class="additem"></div>
                </a></li>
                <li><a ui-sref-active="menu-item-active" ui-sref="grid">
                    <div class="gridstream"></div>
                </a></li>
                <li><a ui-sref-active="menu-item-active" ui-sref="item">
                    <div class="stream"></div>
                </a></li>
                <li ng-if="!isSeller"><a ui-sref-active="menu-item-active" ui-sref="location">
                    <div class="location"></div>
                </a></li>
            </ul>
        </div>
    </div>
</div>