<div class="outer">
    <div class="middle">
        <div class="inner">
            <center>
                <img src="img/mobbbi.png" width="140">
                <br>
                <br>
                <div style="inline: block; width: 220px; margin: 0 10px 10px 10px;">

                    <div style="float: left; margin: -4px 0px 0px 0;">
                        <input ng-model="model.username" class="form-control" id="login" placeholder="Enter login" autofocus>
                    </div>

                    <div style="float: left; margin: -4px 0px 0px 0;">
                        <input type="password" ng-model="model.password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                </div>
                <br>
                <a ng-click="login()" class="fast-tap btn sml">&nbsp;&nbsp;Enter&nbsp;&nbsp;</a>
            </center>

        </div>
    </div>
</div>
