<div class="outer">
    <div class="middle">
        <div class="inner">


            <img src="img/mobbbi.png" width="140">
            <br>
            <br>
            <br>
            <br>
            <a ng-click="goAsBuyer()" class="btn sml">&nbsp;&nbsp;Enter&nbsp;&nbsp;</a>
            <br>
            <br>
                <p style="margin: 20px 10px 20px 10px;">Or store owners can use their key. </p>

                <div style="inline: block; width: 220px; margin: 0 10px 10px 10px;">

                    <div style="float: left; margin: -4px 0px 0px 0;"><input id="textfield7" type="password" placeholder="Store key"/></div>

                    <div style=" margin: 4px 0 0px 0; float: right;"><a ng-click="goAsSeller()" class="btn sml">&nbsp;Enter&nbsp;</a></div>
                </div>
        </div>
    </div>
</div>
