<div class="outer">
    <div class="middle">
        <div class="inner">
            <img src="img/mobbbi.png" width="140">
            <br>
            <br>
            <p style="margin: 20px 10px 20px 10px;">Please select the store that sent you an invite to mobbbi </p>
            <br>
            <select ng-model="store" ng-change="selectStore(store)" class="sml selector2" style=" width: 220px; margin: -5px 0 10px 0;">
                <option value="">Store category</option>
                <option value="extralarge">Fashion</option>
                <option value="large">Electronics</option>
                <option value="medium">Furniture</option>
                <option value="medium">Toys</option>
                <option value="medium">Records</option>
            </select>
        </div>
    </div>
</div>