<div ng-include src="'modules/site/views/custom-header.html'"></div>

<div class="outer">
    <div class="middle">
        <div class="inner">
            <div style=" width: 240px; margin: 0px 0 20px 0;">
                <div class="url-text" style=" margin: 10px 30px 30px 30px;">
                    <h4>http://storename.url</h4>
                </div>
            </div>
            <a ng-if="isSeller" class="btn">View Accounts</a>
            <a ng-if="!isSeller" class="btn">Share Store</a>
            <div style="margin-bottom: 130px;"></div>
            <div>
                <img class="profile" src="img/i12.jpg">
                <img class="profile" ng-src="img/i13.jpg">
                <img class="profile" ng-src="img/i14.jpg">
            </div>
        </div>
    </div>
</div>

<div class="store-footer">
    <h3>Silverlake's original boutique. Look great from head to toe.</h3>
    <p>Store name has been open in LA's Silverblake for 1o years.
        Selling hand crafted specially items and the latest trends</p>
</div>